@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 0, 35);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .grid-auto {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  }
}

@media screen and (min-width: 1280px) {
  .grid-auto {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
}

h2 {
  font-weight: 500;
}

.poiret {
  font-family: "Poiret One", cursive;
}
